
.rate_a1_summer > .graph > .inner > .zone
  &.z1
    left 0
    width 14.1em
    height 6.4em
    > .dots
      width 18em !important
  &.z2
    left 14.3em
    width 5.6em
    height 9.6em
    > .dots
      margin-left -.8em
      width 8em !important
  &.z3
    left 19.7em
    width 9.7em
    height 11.2em
    > .dots
      width 13em !important
  &.z4
    left 29.2em
    width 5.9em
    height 9.6em
    > .dots
      width 8em !important
  &.z5
    left 35.3em
    width 3.9em
    height 6.4em
    > .dots
      margin-left -1.1em
      width 6em !important

.rateframe > .rates > .rate.rate_a1_summer > .legend
  margin-top .7em

.rate_a1_summer > .graph > .bottommeasure > .measure
  &.m1
    width 14.1em
  &.m2
    width 5.9em
  &.m3
    width 9.5em
  &.m4
    width 5.6em
  &.m5
    width 1em

.rate_a1_summer > .graph > .bottomtext > .measure
  &.m1
    width 12.1em
  &.m2
    width 6.4em
  &.m3
    width 9.8em
  &.m4
    width 5em
  &.m5
    width 4em

.rate_a1_winter > .graph > .inner > .zone
  &.z1
    left 0
    width 13.9em
    height 4.8em
    > .dots
      width 18em !important
  &.z2
    left 14.1em
    width 21.0em
    height 8em
    > .dots
      margin-left -1em
      width 28em !important
  &.z3
    left 35.3em
    width 3.8em
    height 4.8em
    > .dots
      width 7em !important
      margin-left -1em

.rate_a1_winter > .graph > .bottommeasure > .measure
  &.m1
    width 13.9em
  &.m2
    width 21.3em
  &.m3
    width 1em
.rate_a1_winter > .graph > .bottomtext > .measure
  &.m1
    width 12.5em
  &.m2
    width 21em
  &.m3
    width 1em

.rate_a1_summer_day > .graph > .inner > .zone
  &.z1
    left 0
    width 14em
    height 6.4em
    > .dots
      width 18em !important
  &.z2
    left 14.2em
    width 5.6em
    height 9.6em
    > .dots
      margin-left -.8em
      width 8em !important
  &.z3
    left 19.7em
    width 3.4em
    height 11.2em
    > .dots
      width 13em !important
  &.z6
    left 22.8em
    width 6.8em
    height 17.6em
    > .dots
      width 13em !important
  &.z4
    left 29.2em
    width 5.9em
    height 9.6em
    > .dots
      width 8em !important
  &.z5
    left 35.3em
    width 3.9em
    height 6.4em
    > .dots
      margin-left -1.1em
      width 6em !important

.rate_a1_summer_day > .graph > .bottommeasure > .measure
  &.m1
    width 14.1em
  &.m2
    width 5.9em
  &.m3
    width 3.1em
  &.m4
    width 6.3em
  &.m5
    width 5.7em
  &.m6
    width 1em

.rate_a1_summer_day > .graph > .bottomtext > .measure
  &.m1
    width 13.1em
  &.m2
    width 5.2em
  &.m3
    width 4.1em
  &.m4
    width 5.7em
  &.m5
    width 6em
  &.m6
    width 1em

.rateframe > .rates > .rate.rate_a1_summer_day > .legend > .legendzone > .copy
  margin-right .2em
