.rate_ag4a_summer > .graph > .inner > .zone
  &.z1
    left 0
    width 22em
    height 5.4em
  &.z2
    left 22em
    width 11em
    height 10.8em
    > .dots
      width 13em !important
  &.z3
    left 33em
    width 11em
    height 5.4em

.rate_ag4a_summer > .graph > .bottommeasure > .measure
  &.m1
    width 22em
  &.m2
    width 11em
  &.m3
    width 11em

.rate_ag4a_winter > .graph > .inner > .zone
  &.z1
    left 0
    width 16em
    height 3.6em
  &.z2
    left 16.3em
    width 24em
    height 5.4em
    > .dots
      margin-left -1em
  &.z3
    left 40.6em
    width 3em
    height 3.6em
    > .dots
      margin-left -1em

.rate_ag4a_winter > .graph > .bottommeasure > .measure
  &.m1
    width 14.6em
  &.m2
    width 24em
  &.m3
    width 5.4em


