.rate_ag4a_summer > .graph > .inner > .zone
  &.z1
    left 0
    width 22em
    height 5.4em
  &.z2
    left 22em
    width 11em
    height 10.8em
    > .dots
      width 13em !important
  &.z3
    left 33em
    width 11em
    height 5.4em

.rate_ag4a_summer > .graph > .bottommeasure > .measure
  &.m1
    width 22.1em
  &.m2
    width 11em
  &.m3
    width 1em
.rate_ag4a_summer > .graph > .bottomtext > .measure
  &.m1
    width 21em
  &.m2
    width 10.6em
  &.m3
    width 11em

.rate_ag4a_winter > .graph > .inner > .zone
  &.z1
    left 0
    width 15.7em
    height 3.6em
  &.z2
    left 16.1em
    width 23.6em
    height 5.4em
    > .dots
      margin-left -1em
  &.z3
    left 40.2em
    width 3.8em
    height 3.6em
    > .dots
      margin-left -1.2em

.rate_ag4a_winter > .graph > .bottommeasure > .measure
  &.m1
    width 15.8em
  &.m2
    width 24.1em
  &.m3
    width 1em

.rate_ag4a_winter > .graph > .bottomtext > .measure
  &.m1
    width 14.4em
  &.m2
    width 24em
  &.m3
    width 5.4em


