c_border = #c8c8c8
c_text = #999999
c_button_top = #f3f3f3
c_button_bottom = #c6c6c6

c_active_top = #bfdef3
c_active_bottom = #5ea6e5

c_orange = #eebc31
c_blue = #89c7de

c_light = #f7f7f8
c_dark = #808285
