c_border = #c8c8c8
c_text = #8d8d8d
c_button_top = #f3f3f3
c_button_bottom = #c6c6c6

c_active_top = #49c2ec
c_active_bottom = #078ec7

c_orange = #e9b91a
c_blue = #44c8f5 
c_partial = #ced1a8
c_bold_orange = #ffab1c

c_darkblue = #0089c4
c_kwtextblue = #5ac0e5

c_orange_old = #faa22b
c_blue_old = #29b1db 
c_partial_old = #c6b17b

c_light = #f7f7f8
c_dark = #808285

c_pge_orange = #ffa100
c_pge_blue = #0089c4 
