
/*
stylus -w sty/main.styl -o css/.  
*/

vendor-prefixes ?= webkit moz o ms official

@import vendor
@import clearfix
@import _vars

@font-face
   font-family DINPro
   font-style normal
   src url(../fnt/DINPro.otf)

@font-face
   font-family DINPro-Medium
   font-style nomal
   src url(../fnt/DINPro-Medium.otf)

body
  font 62.5%/1.4em DINPro,arial,helvetica,sans-serif
  color c_text

.clear
  clearfix()

.rateframe
  overflow hidden
  border 0.1em solid c_border
  min-height 30em
  width 432px
  background-color white
  //background-color c_light
  margin 2em

  > .topcopy
    float left
    width 19em
    margin 0.5em
    &.topcopy_top
      width 100%
      text-align center
  > .buttons
    float right
    margin 0.5em 0
    &.buttons_center
      float none
      text-align center
      > .button
        display inline-block
        float none
    > .button
      cursor pointer
      float left
      box-shadow 0.1em 0.2em 0.3em rgba(black, 0.5)
      border-radius 0.1em
      margin 0 0.3em
      text-align center
      padding 0.3em 1.4em
      background-color white
      background linear-gradient(top, c_button_top 50%, c_button_bottom 100%)
      font-size 1.2em
      user-select none
      transition box-shadow 0.1s ease-in-out, margin 0.1s ease-in-out
      &.active
        background-color c_active_bottom
        background linear-gradient(top, c_active_top 1%, c_active_bottom 99%)
        color white
        font-weight bold
      &:active
        box-shadow 0.05em 0.1em 0.3em rgba(black, 0.5)
        margin-top 0.05em
        transition box-shadow 0.1s ease-in-out, margin 0.1s ease-in-out
  > .rates
    position relative
    > .rate
      margin 1em 0
      &.off
        display none
      &.on
        display block
      > .legend
        float right
        border 0.1em solid c_border
        margin 1.4em 1em 0 0
        font-family DINPro-Medium,arial,helvetica,sans-serif
        > .legendzone
          margin 0.2em
          > .color
            float left
            width 1em
            height 1em
            margin 0.2em 0 0 0.2em
            &.offpeak
              background-color c_blue
            &.onpeak
              background-color c_orange
            &.partialpeak
              background-color c_partial
            &.eventpeak
              background-color c_bold_orange
          > .copy
            margin 0 1em 0 1.5em
      > .title
        color c_orange
        font-size 1.4em
        margin .5em 10em .5em 1.7em
        padding-top 1em
        font-family DINPro-Medium,arial,helvetica,sans-serif 
        line-height 1.3em

      > .graph
        position relative
        margin 0 1.3em 0 .8em 
        > .flatrate
          position absolute
          top 6.15em
          left 2.5em
          border-bottom 0.1em solid c_border
          width 43em

        > .leftmeasure
          position absolute
          top 8em 
          left -6em
          transform rotate(270deg)
          border-bottom 0.1em solid c_border
          width 12em
          padding 0 0 0 2em

        > .inner
          height 15em
          position relative
          margin 0 0 0 2em
          > .zone
            float left
            position absolute
            overflow hidden
            bottom 0
            > .dots
              width 30em
              > .dot
                float left
                width 1.2em
                height 1.2em
                margin-left 0.42em
                margin-bottom 0.42em
                transition background 0.2s linear
                animation dotIn 0.5s 0s ease-in-out both
                &.bluedot
                  background-color rgba(c_blue, 0.8)
                &.orangedot
                  background-color rgba(c_orange, 0.8)
                &.partialdot
                  background-color rgba(c_partial, 0.8)
                &.boldorangedot
                  background-color rgba(c_bold_orange, 0.9)
              for r in 1..150
                .dot:nth-child({r})
                  animation-delay (r / 50)s
            &.full > .dots > .dot.bluedot
              background-color rgba(c_blue, 1)
            &.full > .dots > .dot.orangedot
              background-color rgba(c_orange, 1)
            &.full > .dots > .dot.partialdot
              background-color rgba(c_partial, 1)
            &.full > .dots > .dot.boldorangedot
              background-color rgba(c_bold_orange, 1)

        > .bottommeasure, .bottomtext
          border-top 0.1em solid c_border
          margin 0 0 0 2em

          > .measure
            float left
            > .spacer
              padding 0 0 0 1em
              border-left 0.1em solid c_border
              display block
              height .6em
            > .copy
              padding 0 0 0 0
              font-size 1.1em
      > .slider
        height 4em
        margin 1em 3em 0 1em 
        position relative

        > .slide
          position absolute
          top 0.5em
          left 0
          text-align center
          user-select none
          cursor grab
          cursor -webkit-grab
          cursor -moz-grab
          animation slideIn 0.5s ease-in-out both
          > .inner
            border 0.1em solid c_dark
            position relative
            background-color c_light
            box-shadow 0.1em 0.2em 0.3em rgba(black, 0.5)
            transition transform 0.1s ease-in-out
            &:hover, &:active
              cursor grabbing
              cursor -webkit-grabbing
              cursor -moz-grabbing
              transform scale(1.2)
            > .pointer
              width 1em
              height 1em
              border-top 0.1em solid c_dark
              border-left 0.1em solid c_dark
              transform rotate(45deg)
              margin -0.6em auto 0 auto
              background-color c_light

            > .price
              font-size 1.5em
              color c_blue
              padding 0 0.4em
              font-weight bold
            > .copy
              color c_kwtextblue
              font-size 8px
              line-height 12px 
            > .nav
              background url(../img/slider-arrows.png) c_dark no-repeat 9px 2px
          > .inner
            position relative
            > .pointer
              width 1em
              height 1em
              border-top 0.1em solid c_dark
              border-left 0.1em solid c_dark
              transform rotate(45deg)
              margin -0.6em auto 0 auto
              background-color c_light

            > .price
              font-size 1.5em
              color c_darkblue
              padding 0 0.5em
            > .copy
              color c_kwtextblue
            > .nav
              background-color c_dark
              color white
              text-transform uppercase
              height 10px
              font-size 8px
              line-height 10px
        > .bar
          width 100%
          height .7em
          background-color c_border
          border-radius 1em
          margin 2em 0 0 1em

  > .footer
    padding 0 1em 1em 1em
    font-size .8em
    line-height 1em

@import _ag4a
@import _a1

@keyframes dotIn
  from
    transform translate(5em, 0)
    opacity 0
  to
    opacity 1
    transform translate(0px, 0)

@keyframes slideIn
  from
    transform translate(10em,0)
    opacity 0
  to
    opacity 1
    transform translate(0em,0)
