
/*
stylus -w sty/main.styl -o css/.  
*/

vendor-prefixes ?= webkit moz o ms official

@import vendor
@import clearfix
@import _vars

body
  font 62.5%/1.4em arial,helvetica,sans-serif
  color c_text

.clear
  clearfix()

.rateframe
  overflow hidden
  border 0.1em solid c_border
  min-height 30em
  width 50em
  background-color c_light
  margin 2em

  > .topcopy
    float left
    width 20em
    margin 0.5em
    &.topcopy_top
      width auto
  > .buttons
    float right
    margin 0.5em 0
    &.buttons_center
      float none
      text-align center
      > .button
        display inline-block
        float none
    > .button
      cursor pointer
      float left
      width 8em
      box-shadow 0.1em 0.2em 0.3em rgba(black, 0.5)
      border-radius 0.1em
      margin 0 0.5em
      text-align center
      padding 0.5em
      background linear-gradient(top, c_button_top 50%, c_button_bottom 100%)
      font-size 1.2em
      user-select none
      transition box-shadow 0.1s ease-in-out, margin 0.1s ease-in-out
      &.button_long
        width 12em
      &.active
        background linear-gradient(top, c_active_top 1%, c_active_bottom 99%)
        color white
        font-weight bold
      &:active
        box-shadow 0.05em 0.1em 0.3em rgba(black, 0.5)
        margin-top 0.05em
        transition box-shadow 0.1s ease-in-out, margin 0.1s ease-in-out
  > .rates
    position relative
    > .rate
      margin 2em 0
      &.off
        display none
      &.on
        display block
      > .legend
        float right
        border 0.1em solid c_border
        margin 1em 2em 0 0
        > .legendzone
          margin 0.2em
          > .color
            float left
            width 1em
            height 1em
            margin 0.2em 0 0 0.2em
            &.offpeak
              background-color c_blue
            &.onpeak
              background-color c_orange
            &.partialpeak
              background-color c_partial
          > .copy
            margin 0 2em 0 1.5em
      > .title
        color c_orange
        font-size 1.3em
        margin 1em 10em 1em 2em

      > .graph
        position relative
        margin 0 3em 0 1em 
        > .flatrate
          position absolute
          top 6.15em
          left 2.5em
          border-bottom 0.1em solid c_border
          width 43em

        > .leftmeasure
          position absolute
          top 8em 
          left -6em
          transform rotate(270deg)
          border-bottom 0.1em solid c_border
          width 12em
          padding 0 0 0 2em

        > .inner
          height 15em
          position relative
          margin 0 0 0 2em
          > .zone
            float left
            position absolute
            overflow hidden
            bottom 0
            > .dots
              width 25em
              > .dot
                float left
                width 1.4em
                height 1.4em
                margin-left 0.42em
                margin-bottom 0.42em
                transition background 0.2s linear
                animation dotIn 0.5s 0s ease-in-out both
                &.bluedot
                  background-color rgba(c_blue, 0.7)
                &.orangedot
                  background-color rgba(c_orange, 0.7)
                &.partialdot
                  background-color rgba(c_partial, 0.7)
              for r in 1..150
                .dot:nth-child({r})
                  animation-delay (r / 50)s
            &.full > .dots > .dot.bluedot
              background-color rgba(c_blue, 1)
            &.full > .dots > .dot.orangedot
              background-color rgba(c_orange, 1)
            &.full > .dots > .dot.partialdot
              background-color rgba(c_partial, 1)

        > .bottommeasure
          border-top 0.1em solid c_border
          margin 0 0 0 2em

          > .measure
            float left
            > .copy
              padding 0 0 0 1em
              border-left 0.1em solid c_border
      > .slider
        height 4em
        margin 2em 3em 0 1em 
        position relative

        > .slide
          position absolute
          top 0
          left 0
          text-align center
          user-select none
          cursor grab
          cursor -webkit-grab
          cursor -moz-grab
          animation slideIn 0.5s ease-in-out both
          > .inner
            border 0.1em solid c_dark
            position relative
            background-color c_light
            box-shadow 0.1em 0.2em 0.3em rgba(black, 0.5)
            transition transform 0.1s ease-in-out
            &:hover, &:active
              cursor grabbing
              cursor -webkit-grabbing
              cursor -moz-grabbing
              transform scale(1.2)
            > .pointer
              width 1em
              height 1em
              border-top 0.1em solid c_dark
              border-left 0.1em solid c_dark
              transform rotate(45deg)
              margin -0.6em auto 0 auto
              background-color c_light

            > .price
              font-size 1.5em
              color c_blue
              padding 0 0.5em
              font-weight bold
            > .copy
              color c_blue
            > .nav
              background-color c_dark
          > .inner
            position relative
            > .pointer
              width 1em
              height 1em
              border-top 0.1em solid c_dark
              border-left 0.1em solid c_dark
              transform rotate(45deg)
              margin -0.6em auto 0 auto
              background-color c_light

            > .price
              font-size 1.5em
              color c_blue
              padding 0 0.5em
            > .copy
              color c_blue
            > .nav
              background-color c_dark
              color white

        > .bar
          width 100%
          height 1em
          background-color c_border
          border-radius 1em
          margin-top 2em

  > .footer
    padding 0 1em 1em 1em
    font-size 0.8em

@import _ag4a
@import _a1

@keyframes dotIn
  from
    transform translate(5em, 0)
    opacity 0
  to
    opacity 1
    transform translate(0px, 0)

@keyframes slideIn
  from
    transform translate(10em,0)
    opacity 0
  to
    opacity 1
    transform translate(0em,0)
