
//
  jade -w tpl/a1p.jade -O cfg/config.json -P  -o .

include mixins
extends layout
block content
 
  .rateframe.rateframe_a1p
    .topcopy.topcopy_top Choose Winter, Summer or Summer Event Day.  Drag slider to compare on- and off-peak rates.*

    .buttons.buttons_center
      .button(data-rate='.rate_a1p_winter') Winter Rate
      .button.active(data-rate='.rate_a1p_summer') Summer Rate
      .button.button_long(data-rate='.rate_a1p_summer_day') Summer Event Day Rate
    .clear

    .rates
      .rate.rate_a1p_summer.on
        include rate_a1p_summer
      .rate.rate_a1p_winter.off
        include rate_a1p_winter
      .rate.rate_a1p_summer_day.off
        include rate_a1p_summer_day
 
    .footer * Based on A1 rates per kWh as of 5/1/14.  Customer charges apply in addition to the kWh charges shown.  Rates subject to change.  See more details on A1, A6 and A10 business electric rates.
