
//
  jade -w tpl/ag4a.jade -O cfg/config.json -P  -o .

include mixins
extends layout
block content
 
  .rateframe.rateframe_a1
    .topcopy Choose winter or summer.  Drag slider to compare on- and off-peak rates.*

    .buttons
      .button(data-rate='.rate_ag4a_winter') Winter Rate
      .button.active(data-rate='.rate_ag4a_summer') Summer Rate
    .clear

    .rates
      .rate.rate_ag4a_summer.on
        include rate_ag4a_summer
      .rate.rate_ag4a_winter.off
        include rate_ag4a_winter
 
    .footer * Based on AG4A rates per kWh as of 5/1/14.  See more details on other AG4 and AG5 agriculture electric rates.  Customers and Demand Charges apply in addition to the kWh charges shown.  Electric reates subject to change.
