
//
  jade -w tpl/index.jade -O cfg/config.json -P  -o .

include mixins

extends layout

block content

  .rateframe
    .topcopy Choose winter or summer.  Drag slider to compare on- and off-peak rates.*

    .buttons
      .button(data-rate='.rate_ag4a_winter') Winter Rate
      .button.active(data-rate='.rate_ag4a_summer') Summer Rate
    .clear

    .rates
      .rate.rate_ag4a_summer.on
        include rate_ag4a_summer
      .rate.rate_ag4a_winter.off
        include rate_ag4a_summer
        
