
//
  jade -w tpl/index.jade -O cfg/config.json -P  -o .

include mixins
extends layout
block content
 
  .links
    ul
      li: a(href='./a1p.html') A1 Peak Day Pricing
      li: a(href='./a1.html') A1 Time-of-Use Pricing
      li: a(href='./ag4a.html') AG4A Time-of-Use
