.legend
  .legendzone
    .color.offpeak
    .copy Off-peak
  .legendzone
    .color.partialpeak
    .copy Partial-peak

.title.longtitle A Quick Look at Winter AG4A <br />Time-of-Use Rates for Agricultural Customers

.graph
  .leftmeasure Cost per kWh
  .flatrate(style='top: 8em') Current Flat Rate ($0.183/kWh)
  .inner
    .zone.z1(data-price=0.138)
      +dots('blue', 60)
    .zone.z2(data-price=0.169)
      +dots('partial', 70)
    .zone.z3(data-price=0.138)
      +dots('blue', 60)
  .clear
  .bottommeasure
    .measure.m1: span.spacer 
    .measure.m2: span.spacer 
    .measure.m3: span.spacer 
  .bottomtext
    .measure.m1: span.copy 12:00am
    .measure.m2: span.copy 8:30am
    .measure.m3: span.copy 9:30pm

.slider
  .slide(draggable=true)
    .inner
      .pointer
      .price $0.138
      .copy per kWh
      .nav slide
  .clear
  .bar

