.legend
  .legendzone
    .color.offpeak
    .copy Off-peak
  .legendzone
    .color.partialpeak
    .copy Partial-peak

.title A Quick Look at the Winter AG4A<br /> Time-of-Use Rate for Agricultural Customers

.graph
  .leftmeasure Cost per kWh
  .flatrate Current Flat Rate ($0.183/kWh)
  .inner
    .zone.z1(data-price=0.138)
      +dots('blue', 40)
    .zone.z2(data-price=0.169)
      +dots('partial', 60)
    .zone.z3(data-price=0.138)
      +dots('blue', 20)
  .clear
  .bottommeasure
    .measure.m1: span.spacer
    .measure.m2: span.spacer
    .measure.m3: span.spacer
  .bottomtext
    .measure.m1: span.copy 12:00am
    .measure.m2: span.copy 8:30am
    .measure.m3: span.copy 9:30pm

.slider
  .slide(draggable=true)
    .inner
      .pointer
      .price $0.138
      .copy per kWh
      .nav slide
  .clear
  .bar

