.legend
  .legendzone
    .color.offpeak
    .copy Off-peak
  .legendzone
    .color.partialpeak
    .copy Partial-peak
  .legendzone
    .color.onpeak
    .copy On-peak
  .legendzone
    .color.eventpeak
    .copy Event Day 2-6pm

.title A Quick Look at Summer Event<br />Day A1 Peak Day Pricing Rates<br />for Business Customers

.graph
  .leftmeasure: img(src='./img/cost.png')
  //.flatrate Current Flat Rate ($0.234/kWh)
  .inner
    .zone.z1(data-price=0.202)
      +dots('blue', 60)
    .zone.z2(data-price=0.229)
      +dots('partial', 60)
    .zone.z3(data-price=0.238)
      +dots('orange', 60)
    .zone.z4(data-price=0.229)
      +dots('partial', 60)
    .zone.z5(data-price=0.202)
      +dots('blue', 60)
    .zone.z6(data-price=0.838)
      +dots('boldorange', 90)
  .clear
  .bottommeasure
    .measure.m1: span.spacer
    .measure.m2: span.spacer
    .measure.m3: span.spacer
    .measure.m4: span.spacer
    .measure.m5: span.spacer
    .measure.m6: span.spacer
  .bottomtext
    .measure.m1: span.copy 12am
    .measure.m2: span.copy 8:30am
    .measure.m3: span.copy Noon
    .measure.m4: span.copy 2pm
    .measure.m5: span.copy 6pm
    .measure.m6: span.copy 9:30pm

.slider
  .slide(draggable=true)
    .inner
      .pointer
      .price $0.202
      .copy per kWh
      .nav slide
  .clear
  .bar

